:root {
  --coral: coral;
  --game-title-color: rgb(13, 1, 61);
  --game-text-color: rgb(19, 2, 84);
  --card-back-image: url('./assets/images/background.png');
  --cards-arriety-image: url('./assets/images/cards-arriety.png');
  --cards-kiki-image: url('./assets/images/cards-kiki.png');
  --cards-woth-image: url('./assets/images/cards-woth.png');
  --cards-mononoke-image: url('./assets/images/cards-mononoke.png');
  --cards-totoro-image: url('./assets/images/cards-totoro.png');
  --cards-spirited-away-image: url('./assets/images/cards-spirited-away.png');
  --cards-howl-image: url('./assets/images/cards-howl.png');
  --cards-marnie-image: url('./assets/images/cards-marnie.png');
  --body-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23bcb5c8' fill-opacity='0.2' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  --card-max-width: 240px;
  --card-min-width: 120px;
  --cards-number-color: rgb(173, 113, 2);
  --fa-rotate: rgb(10, 93, 10);
  --button-background: rgb(48, 186, 62);
}

* {
   margin: 0;
   padding: 0;
}

body {
  margin: auto;
  min-height: 100vh;
  background-color: var(--coral);
  background-image: var(--body-background-image);
}

h1 {
  display: flex;
  margin: 2rem auto 1rem auto;
  font-size: 2.5rem;
  color: var(--game-title-color);
  align-items: center;
  justify-content: center;
}

.game {
  margin: 1.5rem 1rem -30px 1rem;
  width: 100%;
  min-height: 100vh;
  color: var(--game-text-color);
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.board {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.card {
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem 0 0 0.8rem;
  width: 20%;
  max-width: var(--card-max-width);
  min-width: var(--card-min-width);
  aspect-ratio: 1 / 1;
  background-image: var(--card-back-image);
  background-size: cover;
  background-position: 35% 0%;
  background-repeat: no-repeat;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cards-container {
  width: 100%;
}

.flipped-up.image-1 {
  background-image: var(--cards-arriety-image);
  background-position: 9% 0%;
}

.flipped-up.image-2 {
  background-image: var(--cards-arriety-image);
  background-position: 49% 0%;
}

.flipped-up.image-3 {
  background-image: var(--cards-arriety-image);
  background-position: 89% 0%;
}

.flipped-up.image-4 {
  background-image: var(--cards-arriety-image);
  background-position: 9% 50%;
}

.flipped-up.image-5 {
  background-image: var(--cards-arriety-image);
  background-position: 49% 50%;
}

.flipped-up.image-6 {
  background-image: var(--cards-arriety-image);
  background-position: 89% 50%;
}

.flipped-up.image-7 {
  background-image: var(--cards-arriety-image);
  background-position: 9% 100%;
}

.flipped-up.image-8 {
  background-image: var(--cards-arriety-image);
  background-position: 49% 100%;
}

.flipped-up.image-9 {
  background-image: var(--cards-arriety-image);
  background-position: 89% 100%;
}

.flipped-up.image-10 {
  background-image: var(--cards-kiki-image);
  background-position: 9% 0%;
}

.flipped-up.image-11 {
  background-image: var(--cards-kiki-image);
  background-position: 49% 0%;
}

.flipped-up.image-12 {
  background-image: var(--cards-kiki-image);
  background-position: 89% 0%;
}

.flipped-up.image-13 {
  background-image: var(--cards-kiki-image);
  background-position: 9% 50%;
}

.flipped-up.image-14 {
  background-image: var(--cards-kiki-image);
  background-position: 49% 50%;
}

.flipped-up.image-15 {
  background-image: var(--cards-kiki-image);
  background-position: 89% 50%;
}

.flipped-up.image-16 {
  background-image: var(--cards-kiki-image);
  background-position: 9% 100%;
}

.flipped-up.image-17 {
  background-image: var(--cards-kiki-image);
  background-position: 49% 100%;
}

.flipped-up.image-18 {
  background-image: var(--cards-kiki-image);
  background-position: 89% 100%;
}

.card.flipped-up {
  transform: rotateY(180deg);
  background-size: 560%;
}

.cards-set {
  display: flex;
  justify-content: start;
  margin: 1% auto;
}

#number-cards {
  width: 45px;
  color: var(--cards-number-color);
  font-size: 1rem;
}

#card-sets {
  color: var(--cards-number-color);
  font-size: 1rem;
  text-overflow: ellipsis;
}

.score {
  display: flex;
  justify-content: end;
  margin: 0.5% auto;
}

.score.current {
 margin-right:2rem;
 font-weight: 700;
}

.fa-rotate.small {
  color: var(--fa-rotate);
  margin: 2px 5px 0 5px;
  cursor: pointer;
  font-size: 1rem;
}

.fa-rotate.small:hover {
  color: var(--fa-rotate);
  margin: 2px 5px 0 5px;
  box-shadow: 0 0.5px 0.5px 0.5px rgb(10, 93, 10);
  font-size: 0.9rem;
}

.fa-rotate-left.small {
  color: var(--fa-rotate);
  cursor: pointer;
  font-size: 1rem;
}

.fa-rotate-left.small:hover {
  color: var(--fa-rotate);
  box-shadow: 0 0.5px 0.5px 0.5px var(--fa-rotate);
  font-size: 0.9rem;
}

.fa-rotate-left {
  color: var(--fa-rotate);
  cursor: pointer;
  font-size: 1.3rem;
}

.reset-top {
  margin-top:0.8rem;
}

.fa-rotate-left:hover {
  color: var(--fa-rotate);
  box-shadow: 0 0.5px 0.5px 0.5px var(--fa-rotate);
  font-size: 1.6rem;
}

#audio-reset {
  margin: 1.5rem 0 0 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}

/* Congrats box */
.congrats-container {
  width: 50%;
  height: auto;
  margin: auto 30% auto 20%;
  padding: 5px 10px;
  border-radius: 10px;
  background:url("./assets/images/congratulations-gif.gif");
  background-size: auto;
  box-shadow: 0 5px 5px 5px rgba(223, 189, 105, 0.934);
}

.congrats-text {
  color:  rgb(247, 174, 15);
  font-size: 2.2rem;
}

.button-container {
  margin-top: 5px;
  display: flex;
  justify-content: end;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background: var(--button-background);
  outline: none;
  padding: 0.3rem 0.5rem;
  box-shadow: 0 0.2rem rgba(78, 124, 84, 0.65);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, 0.1rem);
  box-shadow: 0 0.2rem rgba(78, 124, 84, 0.65);
}

/* audio */
.audio {
  display: flex;
  align-items: flex-start;
}

#music {
  color: var(--cards-number-color);
  font-size: 1rem;
  text-overflow: ellipsis;
}

#music-control {
  margin: 0.5rem 0 0.8rem 0;
}

/* Footer */
.page-end {
  height: 30px;
}

.footer {
  left: 0;
  bottom: 0;
  margin: 0.5rem;
  height: 30px;
  width: 100%;
  color: rgb(13, 1, 61);
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .board {
    width: 85%;
  }
  .congrats-container {
    margin: 5% 10% 5% auto; 
    width: 70%;
  }
  .congrats-text {
    font-size: 2rem;
  }
  .score {
    margin: 1% auto;
  }
  .cards-set {
    margin: 3% auto;
  }
}

@media only screen and (max-width: 600px) {
  .board {
    width: 95%;
  }
  .congrats-container {
    margin: 5% 10% 5% auto;
    width: 80%;
  }    
  .congrats-text {
    font-size: 1.5rem;
  }
  .score {
    margin: 1% auto;
  }
  .cards-set {
    margin: 3% auto;
  }
}
